<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }

        input[type="text"] {
            padding: 10px;
            width: 300px;
            border-radius: 5px;
            border: 1px solid #ccc;
            margin-right: 10px;
        }

        button {
            padding: 10px 20px;
            border: none;
            background-color: #007bff;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>

    <h2>Short URL Generator</h2>
    <% if(locals.id) { %>
        <p>URL Generated : http://localhost:8000/url/<%=id %>
        </p>
        <% } %>
            <form action="/url" method="POST">
                <input type="text" name="url" placeholder="Enter your long URL here" required />
                <button type="submit">Shorten</button>
            </form>
            <div>
                <% if (locals.urls) { %>
                    <table>
                        <thead>
                            <th>s. No</th>
                            <th>ShortID</th>
                            <th>redirect</th>
                            <th>clicks</th>
                        </thead>
                        <tbody>
                            <% urls.forEach((url,index)=> { %>
                                <tr>
                                    <td>
                                        <%= index+1 %>
                                    </td>
                                    <td>
                                        <%= url.shortId %>
                                    </td>
                                    <td>
                                        <%= url.redirectUrl %>
                                    </td>
                                    <td>
                                        <%= url.visitHistory.length %>
                                    </td>
                                </tr>


                                <% }) %>

                        </tbody>
                    </table>

                    <% } %>
            </div>


</body>

</html>